.category_img {
  width: 150px;
  height: 100px;
}

.box-shadows {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.darkMode {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

.border-20 {
  border-radius: 20px;
}
