/* Add a class for dark mode */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode-header {
    background-color: #272727;
    color: #ffffff;
    a {
        color: #ffffff;
    }
}
